<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Version</key>
	<string>2025-08-26</string>
	<key>WatchItems</key>
	<dict>
		<!-- Protect Chrome browser data -->
		<key>ChromeProfile</key>
		<dict>
			<key>Paths</key>
			<array>
				<dict>
					<key>Path</key>
					<string>/Users/*/Library/Application Support/Google/Chrome/*/Cookies</string>
					<key>IsPrefix</key>
					<true/>
				</dict>
			</array>
			<key>Options</key>
			<dict>
				<key>AllowReadAccess</key>
				<false/>
				<key>AuditOnly</key>
				<false/>
			</dict>
			<key>Processes</key>
			<array>
				<dict>
					<key>TeamID</key>
					<string>EQHXZ8M8AV</string>
				</dict>
				<dict>
					<key>SigningID</key>
					<string>com.apple.mdworker_shared</string>
					<key>PlatformBinary</key>
					<true/>
				</dict>
				<dict>
					<key>SigningID</key>
					<string>com.apple.mds</string>
					<key>PlatformBinary</key>
					<true/>
				</dict>
				<dict>
					<key>SigningID</key>
					<string>com.apple.mdsync</string>
					<key>PlatformBinary</key>
					<true/>
				</dict>
				<dict>
					<key>SigningID</key>
					<string>com.apple.finder</string>
					<key>PlatformBinary</key>
					<true/>
				</dict>
				<dict>
					<key>SigningID</key>
					<string>com.apple.mediaanalysisd-access</string>
					<key>PlatformBinary</key>
					<true/>
				</dict>
				<dict>
					<key>SigningID</key>
					<string>com.apple.XProtectFramework.plugins.*</string>
					<key>PlatformBinary</key>
					<true/>
				</dict>
				<dict>
					<key>SigningID</key>
					<string>com.apple.STMExtension.Applications</string>
					<key>PlatformBinary</key>
					<true/>
				</dict>
				<dict>
					<key>SigningID</key>
					<string>com.apple.settings.Storage</string>
					<key>PlatformBinary</key>
					<true/>
				</dict>
				<dict>
					<key>SigningID</key>
					<string>com.apple.uninstalld</string>
					<key>PlatformBinary</key>
					<true/>
				</dict>
			</array>
		</dict>

		<!-- Protect Chrome extensions -->
		<key>ChromeExtensions</key>
		<dict>
			<key>Paths</key>
			<array>
				<dict>
					<key>Path</key>
					<string>/Users/*/Library/Application Support/Google/Chrome/*/Extensions/</string>
					<key>IsPrefix</key>
					<true/>
				</dict>
			</array>
			<key>Options</key>
			<dict>
				<key>AuditOnly</key>
				<false/>
				<key>AllowReadAccess</key>
				<false/>
			</dict>
			<key>Processes</key>
			<array>
				<dict>
					<key>TeamID</key>
					<string>EQHXZ8M8AV</string>
				</dict>
				<dict>
					<key>SigningID</key>
					<string>com.apple.mdworker_shared</string>
					<key>PlatformBinary</key>
					<true/>
				</dict>
				<dict>
					<key>SigningID</key>
					<string>com.apple.mds</string>
					<key>PlatformBinary</key>
					<true/>
				</dict>
				<dict>
					<key>SigningID</key>
					<string>com.apple.mdsync</string>
					<key>PlatformBinary</key>
					<true/>
				</dict>
				<dict>
					<key>SigningID</key>
					<string>com.apple.finder</string>
					<key>PlatformBinary</key>
					<true/>
				</dict>
				<dict>
					<key>SigningID</key>
					<string>com.apple.mediaanalysisd-access</string>
					<key>PlatformBinary</key>
					<true/>
				</dict>
				<dict>
					<key>SigningID</key>
					<string>com.apple.XProtectFramework.plugins.*</string>
					<key>PlatformBinary</key>
					<true/>
				</dict>
				<dict>
					<key>SigningID</key>
					<string>com.apple.STMExtension.Applications</string>
					<key>PlatformBinary</key>
					<true/>
				</dict>
			</array>
		</dict>

		<!-- Protect Signal application data -->
		<key>SignalDB</key>
		<dict>
			<key>Paths</key>
			<array>
				<dict>
					<key>Path</key>
					<string>/Users/*/Library/Application Support/Signal</string>
					<key>IsPrefix</key>
					<true/>
				</dict>
			</array>
			<key>Options</key>
			<dict>
				<key>AuditOnly</key>
				<false/>
				<key>AllowReadAccess</key>
				<false/>
			</dict>
			<key>Processes</key>
			<array>
				<dict>
					<key>TeamID</key>
					<string>U68MSDN6DR</string>
				</dict>
				<dict>
					<key>SigningID</key>
					<string>com.apple.mdworker_shared</string>
					<key>PlatformBinary</key>
					<true/>
				</dict>
				<dict>
					<key>SigningID</key>
					<string>com.apple.mds</string>
					<key>PlatformBinary</key>
					<true/>
				</dict>
				<dict>
					<key>SigningID</key>
					<string>com.apple.mdsync</string>
					<key>PlatformBinary</key>
					<true/>
				</dict>
				<dict>
					<key>SigningID</key>
					<string>com.apple.XProtectFramework.plugins.*</string>
					<key>PlatformBinary</key>
					<true/>
				</dict>
			</array>
		</dict>

		<!-- Protect sudo configuration -->
		<key>SudoProtection</key>
		<dict>
			<key>Paths</key>
			<array>
				<dict>
					<key>Path</key>
					<string>/private/var/db/sudo</string>
					<key>IsPrefix</key>
					<true/>
				</dict>
				<dict>
					<key>Path</key>
					<string>/etc/sudoers.d</string>
					<key>IsPrefix</key>
					<true/>
				</dict>
			</array>
			<key>Options</key>
			<dict>
				<key>AuditOnly</key>
				<false/>
				<key>AllowReadAccess</key>
				<false/>
			</dict>
			<key>Processes</key>
			<array>
				<dict>
					<key>SigningID</key>
					<string>com.apple.sudo</string>
					<key>PlatformBinary</key>
					<true/>
				</dict>
				<dict>
					<key>SigningID</key>
					<string>com.apple.XProtectFramework.plugins.*</string>
					<key>PlatformBinary</key>
					<true/>
				</dict>
			</array>
		</dict>

		<!-- Block unauthorized Spotlight plugin installations (Sploitlight protection) -->
		<key>SploitlightProtection</key>
		<dict>
			<key>Paths</key>
			<array>
				<dict>
					<key>Path</key>
					<string>/Users/*/Library/Spotlight</string>
					<key>IsPrefix</key>
					<true/>
				</dict>
				<dict>
					<key>Path</key>
					<string>/Library/Spotlight</string>
					<key>IsPrefix</key>
					<true/>
				</dict>
			</array>
			<key>Options</key>
			<dict>
				<key>AllowReadAccess</key>
				<true/>
				<key>AuditOnly</key>
				<false/>
				<key>EnableSilentMode</key>
				<true/>
			</dict>
			<key>Processes</key>
			<array>
				<dict>
					<key>SigningID</key>
					<string>com.apple.mds</string>
					<key>PlatformBinary</key>
					<true/>
				</dict>
				<dict>
					<key>SigningID</key>
					<string>com.apple.mdworker</string>
					<key>PlatformBinary</key>
					<true/>
				</dict>
				<dict>
					<key>SigningID</key>
					<string>com.apple.mdworker_shared</string>
					<key>PlatformBinary</key>
					<true/>
				</dict>
				<dict>
					<key>SigningID</key>
					<string>com.apple.mdimport</string>
					<key>PlatformBinary</key>
					<true/>
				</dict>
				<dict>
					<key>SigningID</key>
					<string>com.apple.installer</string>
					<key>PlatformBinary</key>
					<true/>
				</dict>
			</array>
		</dict>
                <!-- Protect Apple Intelligence databases from Sploitlight data exfiltration -->
		<key>AppleIntelligenceProtection</key>
		<dict>
			<key>Paths</key>
			<array>
				<dict>
					<key>Path</key>
					<string>/Users/*/Pictures/Photos Library.photoslibrary</string>
					<key>IsPrefix</key>
					<true/>
				</dict>
				<dict>
					<key>Path</key>
					<string>/Users/*/Library/Application Support/Knowledge</string>
					<key>IsPrefix</key>
					<true/>
				</dict>
				<dict>
					<key>Path</key>
					<string>/Users/*/Library/Group Containers/group.com.apple.secure-control-center-preferences</string>
					<key>IsPrefix</key>
					<true/>
				</dict>
			</array>
			<key>Options</key>
			<dict>
				<key>AllowReadAccess</key>
				<false/>
				<key>AuditOnly</key>
				<false/>
				<key>EnableSilentMode</key>
				<true/>
			</dict>
			<key>Processes</key>
			<array>
				<dict>
					<key>SigningID</key>
					<string>com.apple.Photos</string>
					<key>PlatformBinary</key>
					<true/>
				</dict>
				<dict>
					<key>SigningID</key>
					<string>com.apple.photoanalysisd</string>
					<key>PlatformBinary</key>
					<true/>
				</dict>
				<dict>
					<key>SigningID</key>
					<string>com.apple.MediaAnalysis</string>
					<key>PlatformBinary</key>
					<true/>
				</dict>
				<dict>
					<key>SigningID</key>
					<string>com.apple.photolibraryd</string>
					<key>PlatformBinary</key>
					<true/>
				</dict>
				<dict>
					<key>SigningID</key>
					<string>com.apple.assetsd</string>
					<key>PlatformBinary</key>
					<true/>
				</dict>
				<dict>
					<key>SigningID</key>
					<string>com.apple.cloudphotod</string>
					<key>PlatformBinary</key>
					<true/>
				</dict>
				<dict>
					<key>SigningID</key>
					<string>com.apple.intelligenceplatformd</string>
					<key>PlatformBinary</key>
					<true/>
				</dict>
				<dict>
					<key>SigningID</key>
					<string>com.apple.knowledgeconstructiond</string>
					<key>PlatformBinary</key>
					<true/>
				</dict>
				<dict>
					<key>SigningID</key>
					<string>com.apple.XProtectFramework.plugins.*</string>
					<key>PlatformBinary</key>
					<true/>
				</dict>
			</array>
		</dict>
		<!-- Protect Slack.app cookies -->
		<key>SlackCookies</key>
		<dict>
		    <key>Paths</key>
		    <array>
		      <dict>
			<key>Path</key>
			<string>/Users/*/Library/Application Support/Slack/Cookies</string>
			<key>IsPrefix</key>
			<true/>
		      </dict>
		      <dict>
			<key>Path</key>
			<string>/Users/*/Library/Application Support/Slack/StaleCookies</string>
			<key>IsPrefix</key>
			<true/>
		      </dict>
		      <dict>
			<key>Path</key>
			<string>/Users/*/Library/Containers/com.tinyspeck.slackmacgap/Data/Library/Application Support/Slack/Cookies</string>
			<key>IsPrefix</key>
			<true/>
			</dict>
		      <dict>
			<key>Path</key>
			<string>/Users/*/Library/Containers/com.tinyspeck.slackmacgap/Data/Library/Application Support/Slack/StaleCookies</string>
			<key>IsPrefix</key>
			<true/>
		      </dict>
		    </array>
		    <key>Options</key>
		    <dict>
			<key>AllowReadAccess</key>
			<false/>
			<key>AuditOnly</key>
			<false/>
			<key>RuleType</key>
			<string>PathsWithAllowedProcesses</string>
		    </dict>
		    <key>Processes</key>
		    <array>
			<dict>
			  <key>SigningID</key>
			  <string>com.tinyspeck.slackmacgap*</string>
			  <key>TeamID</key>
			  <string>BQR82RBBHL</string>
			</dict>
			<dict>
			  <key>SigningID</key>
			  <string>com.apple.mdworker_shared</string>
			  <key>PlatformBinary</key>
			  <true/>
			</dict>
		    </array>
	     </dict> <!-- SlackCookies Rule -->
      </dict> <!-- WatchItems -->
  </dict> <!-- Top Level Keys -->
</plist>
